<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<h1>Hola Ahorcado!</h1>
  	<form action='letra' method="POST">
  	<input type="TEXT" name="letra"/>
  	<input type="submit" id="una_letra" value="Letra">
  	</form>

  	<form action='palabra' method="POST">
  	<input type="TEXT" name="palabra"/>
  	<input type="submit" id="una_palabra" value="Palabra">
  	</form>
  	<div id="mensaje"><%= @mensaje%> </div>
  </body>
</html>
